<%= content_for :operation_bar do %>
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <%= link_to '创建我的圈子', new_circle_group_path %>
      </li>
    </ul>
  </div>
<% end %>
<h2>Hello</h2>